@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";


@theme {
  --color-primary: #F9F9F9;
  --color-secondary: #005B96;
  --color-tertiary: #F2994A;
  --color-cool: #00A6D6;
  --font-family-open: "Open Sans", sans-serif;
  --font-family-lora: "Lora", serif;
}

*{
  font-family: "Lora", serif;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #F2994A;
}

.loader-text-1{
  animation: loader1 1s infinite;
}
.loader-text-2{
  animation: loader2 1s infinite;
}

@keyframes loader1 {
  0%{
    opacity: 0.5;
  }
  50%{
    opacity: 1;

  }
}

@keyframes loader2{
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0.5;

  }
}

.custom-shape-divider-top-1730584481 {
  position: absolute;
  top: -85px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1730584481 svg {
  position: relative;
  display: block;
  width: calc(108% + 1.3px);
  height: 87px;
}

.custom-shape-divider-top-1730584481 .shape-fill {
  fill: #005B96;
}

.custom-shape-divider-bottom-1732665275 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1732665275 svg {
  position: relative;
  display: block;
  width: calc(207% + 1.3px);
  height: 70px;
}

.custom-shape-divider-bottom-1732665275 .shape-fill {
  fill: #FFFFFF;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-top-1730584481 svg {
    width: calc(108% + 1.3px);
    height: 87px;
  }
  .custom-shape-divider-bottom-1732665275 svg {
    width: calc(207% + 1.3px);
    height: 70px;
  }
}


body {
  background: var(--background);
  color: var(--foreground);
  margin: 0;
  padding: 0;
}



@theme {
  --color-primary: #F9F9F9;
  --color-secondary: #005B96;
  --color-tertiary: #F2994A;
  --color-cool: #00A6D6;
  --font-family-open: "Open Sans", sans-serif;
  --font-family-lora: "Lora", serif;
}